.Dishes {
    padding: 20px;
}

.Bag {
    width: 40px;
    height: 40px;
    background: #ccd5ff;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 5px 0 #ff7e7e;
    transition: all 0.3s ease;
    transform: scale(0);
    opacity: 0;
    animation: bag-anim 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes bag-anim {
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.BagCounter {
    position: absolute;
    top: 0px;
    right: -5px;
    background: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    box-shadow: 0 0 20px 0 #ff7e7e;
    transform: scale(0);
    opacity: 0;
    animation: bag-anim 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
