.Restaurant {
    width: 80%;
    /* height: 300px; */
    box-shadow: 0px 2px 20px 0px #cccccc;
    margin: 0 auto;
    display: flex;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-in;
}

.RestaurantDetails {
    width: 75%;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
}

.Basic {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Basic span {
    font-size: 13px;
}

.RestaurantImg {
    padding: 10px;
    width: 25%;
    box-sizing: border-box;
    height: 100%;
}

.RestaurantImg img {
    width: 100%;
    /* height: 100%; */
}
